.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.card {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  /* border-radius: 5px; */
  text-align: center;
  width: 100%;
  padding-top: 30px;
}

.card{
  text-align: center;
  color: rgb(0, 0, 0);
  margin-top: 0px;
  background-color: #716f6f20;
}

.card-header{
  background-color: #239f8439;
}

.card img {
  width: 500px;
  height: 750px;
  object-fit: cover;
  margin-bottom: 10px;
  /* margin-left: 20px; */
  height: auto;
    max-width: 100%;
    vertical-align: top;
}

@media (max-width: 768px) {
  .card {
    width: 100%;
    max-width: 100%;
  }
}
