.doctor-card {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7;
    margin-bottom: 20px;
    width: 580px;
    height: 250px;
    margin: 45px;
    margin-right: 45px;

  }
  
  .doctor-card .clinic-name {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .doctor-card .content {
    display: flex;
  }
  
  .doctor-card .left-side {
    flex: 0 0 150px;
  }
  
  .doctor-card .doctor-image {
    width: 100%;
    height: auto;
    border-radius: 5px 0 0 5px;
  }
  
  .doctor-card .right-side {
    flex: 1;
    padding: 20px;
  }
  
  .doctor-card .specialization {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .doctor-card .contact-details h4 {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .doctor-card .contact-details p {
    margin: 0;
  }
  